@import "~mdb-ui-kit/css/mdb.min.css";
/* Default height for small devices */
#intro-example {
  height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}
.bg-image {
  height: 100%;
  width: 100%;
  position: relative;
}
body {
  /* color: coral; */
  background-color: lightgray;
}
.mask {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.mask h1.mb-3 {
  margin-left: 30%;
}
.mask h4.mb-3 {
  color: coral;
  text-align: center;
}
.mask .btn {
  color: red;
  border-color: red;
  margin-left: 45%;
}

.d-block {
  height: 500px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
.card-mgn.col-sm-2 {
  /* margin: 0 5px; */
}
.img-h {
  height: 163px;
}

#favourite {
  margin-top: 30px;
}
.card-img-top {
  height: 102px;
}
.card-body {
  /* transform: translateX(-150px); */
  margin-top: 30px;
}
.card.mb-3 {
  box-sizing: 1px 1px 3px 7px;
  /* border-radius: 500px; */
}
#d-d {
  margin-top: 50px;
}
.carousel-inner {
  opacity: 1;
  transition: fadeIn 1s;
  animation: fadeIn 1.5s ease-out both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* THIS IS RESPOSIVENESS */
@media screen and (max-width: 830px) {
  #d-d {
    display: none;
  }
  .d-dd {
    display: none;
  }
}
